.time-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 14%;
    justify-content: center;
}

.card-row {
    display: flex !important;
    flex-wrap: nowrap;
    height: 12%;    
}

.bottom-column {
    display: flex;
    flex-direction: column;
    height: 14%;
    justify-content: center;
}
