.leaderboard-list {
   font-weight: bold;
   background-color: #0116279d;
}

.leaderboard-list-not-authed {
    background-color: #0116278a;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.leaderboard-title {
    font-weight: normal;
    padding: 0.3em 1em;
    font-size: 2em;
    text-align: center;
    font-family: 'Rowdies', cursive;
}

.leaderboard-title-not-authed {
    font-weight: normal;
    padding: 0em 1em 1em 1em;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Rowdies', cursive;
}

.scores-sign-up-link {
    text-decoration: none;
    color: #E9C46A;
}

.leaderboard-row {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    padding: 0.8em 1em 0.8em 0em;
    border-bottom: 2px solid #a3cef1; 
}

.personal-score-legend {
    margin-right: 1em;
    margin-left: 1em;
    padding: 0.6em 1em;
    border-bottom: 1px solid #E9C46A;
    display: flex;
    justify-content: space-around;
}

.personal-score-row {
    display: flex;
    justify-content: space-around;
    margin-right: 2em;
    padding: 0.8em 0em;
    border-bottom: 2px solid #a3cef1; 
}

.leaderboard-legend {
    margin-right: 1em;
    margin-left: 1em;
    padding: 0.6em 1em;
    border-bottom: 1px solid #E9C46A;
    display: flex;
    justify-content: space-between;
}

.personal-score-container {
    display: flex;
}

.score-index {
    display: flex;
    min-width: 25px;
    justify-content: flex-end; 
}

.score-player {
    display: flex;
    justify-content: flex-start;
}

.hey-thats-me {
    color: #E9C46A;
}

.score-time {
    margin-left: 0.5em;
    display: flex;  
}

.bottom-score-toolbar {
    background-color: #113b5e;
    display: flex;
    justify-content: space-around;    
}

.home-toolbar-button { 
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}