.sign-up-container {
    padding: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.user-input {
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.register-button {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}