.achievements-header {
    font-size: 1.6em;
    text-align: center;
    font-family: 'Rowdies', cursive;
}

.achievements-list {
    background-color: #0116279d;
    font-size: 1.2em;
    font-family: 'Rowdies', cursive;
}

.achieved-icon {
    color: #E9C46A;
}

.achieved-title {
    text-decoration: line-through;
}

.achieved-center {
    display: inline-block;
}

.achieved-tag {
    color: #56876D;
}

.achievement-description {
    text-align: center;
    color: #E9C46A;    
}

.not-achieved-icon {
    color: #4f575f;
}
